.contact-page {
  justify-content:center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.card{
  width: 150px;
  height: 160px;

}

.page{
  width: 100%;
  margin-right: 150px;

}

.contact-title {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.highlight {
  color: #ff4d7e; /* pinkish color */
}

.contact-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.gradient-text {
  background: linear-gradient(to right, #8b5cf6, #7c3aed, #ec4899); /* purple → violet → pink */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-repeat: no-repeat;
  padding: 1rem 0; /* vertical padding */
  position: relative;
}

svg {
  position: absolute;
  width: 100%;      /* or fixed width like 300px */
  height: 100px;     /* smaller height */
}

