.home-page {
  display: flex;
  margin-top: 100px;
  height: 100vh; /* full screen height */
  text-align: center;
  padding-left: 12rem;
}

.animation-text{
  transform: translateY(20px);
  animation: fadeTranslate 1.2s ease-out forwards;
  font-family: Grotesk S SH Bold;
  opacity: 0.2;
  color:black
}
.intro-text {
  font-family: Ideal Regular;
  width: 1000px;
  font-size: 1rem;
  font-weight: bold;
  color: #555;
  font-style: italic;
}

@keyframes fadeTranslate {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  max-width: 800px;
  margin-top: 4rem;
  text-align: center;
  color: #444;
  font-style: italic;
}

.scroll-section.visible {
  opacity: 1;
  transform: translateY(0);
}
