.home-page {
  display: flex;
  margin-top: 100px;
  height: 100vh; /* full screen height */
  text-align: center;
  padding-left: 12rem;
}

.animation-text{
  transform: translateY(20px);
  animation: fadeTranslate 1.2s ease-out forwards;
  font-family: Grotesk S SH Bold;
  opacity: 0.2;
  padding-bottom :100px ;
  color:black
}

.animation-text h1{
  margin-bottom: 0%;
}
.animation-text h4{
  background: linear-gradient(to right, #8b5cf6, #7c3aed, #ec4899); /* purple → violet → pink */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text {
  font-family: Ideal Regular;
  width: 1000px;
  font-size: 1rem;
  font-weight: bold;
  color: #555;
  font-style: italic;
}

@keyframes fadeTranslate {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-about {
  background-color: #EFF6FF;
  display: flex;
  flex-direction: row;
}

.Home-myImage{
  border-radius: 5rem;
  height: 500px;
  padding: 1rem;
}
.home-about-text {
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  justify-content: center;
}

.buttons-contact{
  display: flex;
  flex-direction: row;
  gap:50px;
}
.github-button{
  border-radius: 8px;
  color: white;
  padding: 1rem;
  background-color: #555;
}

.github-button:hover{
  background-color: #7c3aed
}

.linkedin-button{
  border-radius: 8px;
  color: white;
  padding: 1rem;
  background-color: #0077b5;
}

.linkedin-button:hover{
  background-color: #005983
}

.discord-button{
  border-radius: 8px;
  color: white;
  padding: 1rem;
  background-color: #5865F2;
}

.discord-button:hover{
  background-color: #404EED
}